body {
    padding-top: 80px;
    background-color: #e2e1d8;
}

#name {
    color: #222;
}

h1 {
    color: aliceblue;
}

H2 {
    color: aliceblue;
}

.box{
    width: 200px;
    height: 200px;
}  

.Aboutme{
    color:#222;
    font-family: "Noto sans", sans-serif;
    font-weight: 700;
    font-size: 30px;  
     
}

/* About me Page */

#dp{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
}

.wrapper{
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.intro{
    flex: 1;
}

.p1{
   
    color:#222;
    font-family: "Noto sans", sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-right:8cm;
    font-size: 20px;
}

.sbox-skill{
    color: #222;
    font-family: "Noto sans", sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-right:8cm;
    font-size: 30px;
}

.contacts {
    color: #222;
    font-family: "Noto sans", sans-serif;
    font-weight: 700;
    font-size: 30px;  
}

.sbox-contact{
    color: #222;
    font-family: "Noto sans", sans-serif;
    font-style: italic;
    font-weight: 500;
    margin-right:8cm;
    font-size: 30px;
}

.ab-btn{
    padding: 10px 20px;
    font-size: 16px;
}

.navbar {
    width: 98%;
    background-color: #222;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* allows navbar items to wrap */
    
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    flex-wrap: wrap; /* buttons go to next line if needed */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 6px 10px;
}

.nav-links a:hover {
    color: rgb(218, 78, 101);
}